div(class="row")
  div(class="col-md-1")
    img(src=app.icon)
  div(class="col-md-11")
    h1= app.name
    h4= dev.display

ul
  li
    a(href=app.url) APKDroid
  li
    a(href=play.url) PlayStore
  li
    a(href=dev.url) Developer Page
  if settingsUrl
    li
      <a href="/app/#{id}">Settings</a>
