div(class="jumbotron")
  h2 Search for apps to add
  form(id="search")
    input(type="text", id="search-val", value=query)
    input(type="submit", value="Search")
each result in results
  div(class="search-result jumbotron")
    h2(class="search-result-title")
      img(src=result.icon,width="64px",height="64px")
      div(style="min-width: 16px")
      a(href=result.url)= result.name
    h4
      a(href=result.devUrl) by #{result.by}
    a(class="btn btn-primary", href="http://localhost:5334/add/#{result.addId}") Add App
