div(class="jumbotron")
  h2 Search for apps to add
  form(id="search")
    input(type="text", id="search-val", value=query)
    input(type="submit", value="Search")
  br
  h4
    ul
      li Click the app name to visit the APKMirror.com page
      li Click the plus to add the app to the repo

each result in results
  div(class="jumbotron")
    div(class="row")
      div(class="col-md-1")
        img(src=result.icon,width="64px",height="64px")
      div(class="col-md-9")
        h2
          a(href=result.url)= result.name
        h4
          a(href=result.devUrl) by #{result.by}
      div(class="col-md-2")
        a(class="btn btn-outline-secondary", href=result.addUrl)
          i(class="fa fa-plus fa-4x")
center(style="display: flex; justify-content: center; flex-direction: row;")
  if previous
    - var p = '/search/' + encodeURI(query) + '/' + previous
    a(class="btn btn-primary", href=p, style="margin: 2px") « Previous
  if next
    - var p = '/search/' + encodeURI(query) + '/' + next
    a(class="btn btn-primary", href=p, style="margin: 2px") Next »
br
